@{
    ViewBag.Title = "NetAuthCore.Mvc - Protected";
}
<h1>Protected page</h1>

<h2>User claims</h2>
<ul>
    @foreach(var claim in User.Claims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>

