@model NetCoreAuth.Mvc.Models.TodoItem
@{
    ViewBag.Title = "NetAuthCore.Mvc - Edit Todo item";
}

<h1>Edit todo item</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" name="Owner" value="@Model.Owner">
    <p>
        Todo: <input asp-for="Title" />
    </p>
    <p>
        Completed: <input asp-for="Completed" />
    </p>
    <p>
        <button type="submit">Save</button>
        <a asp-action="Index">Cancel</a>
    </p>
    
</form>